<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/common.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
</head>
<body>
<header>
{% if site.logo %} {% if site.logo contains 'nes-' %} {% else %} {% endif %} {% endif %}


{{ SITE.TITLE | DEFAULT: SITE.GITHUB.REPOSITORY_NAME }}

<nav>
  <a href="/">Home</a>
  <a href="/characters">Characters</a>
  <a href="/map">Map</a>
  <a href="/inventory">Inventory</a>
  <a href="/dm_dashboard.html">DM Dashboard</a>
</nav>

{{ site.description | default: site.github.project_tagline }}

{% if site.social %} {% include social.html %} {% endif %}
{% if site.show_downloads %} {% include downloads.html %} {% endif %}
</header>
<main>