<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/common.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
</head>
<body>
<header>
{% if site.logo %}
  {% if site.logo contains 'nes-' %}
    <i class="{{ site.logo }}"></i>
  {% else %}
    <img src="{{ site.logo | relative_url }}" alt="Logo" />
  {% endif %}
{% endif %}
<h1>{{ site.title | default: site.github.repository_name }}</h1>
<nav>
  <a href="/">Home</a>
  <a href="/characters.html">Characters</a>
  <a href="/lore.html">Lore</a>
  <a href="/map.html">Map</a>
  <a href="/inventory.html">Inventory</a>
  <a href="/player_info.html">Player Info</a>
  <a href="/dm_dashboard.html">DM Dashboard</a>
</nav>
<p>{{ site.description | default: site.github.project_tagline }}</p>
{% if site.social %}
  {% include social.html %}
{% endif %}
{% if site.show_downloads %}
  {% include downloads.html %}
{% endif %}
</header>
</body>
</html>
