:root {
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-3: #25282c;
  --gray-4: #151618;
  --gray-5: #151618;
  --gray-6: #111111;
  --white-1: #eeeeee;
  --white-2: #a9abb3;

  --color-1: #04AA6D;
  --color-2: #005918;
  --color-3: #DEB887;
  --color-4: #1D1D35;
}

#category-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
  visibility: hidden;
}
#category-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  max-width: 850px;
  max-height: 60vh;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  background: var(--gray-3);
  display: none;
  visibility: hidden;
  line-height: 140%;
}
#category-modal-content {
  display: relative;
  max-height: calc(100% - 5rem);
  overflow: auto;
}
#category-modal-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 1rem;
}
#category-modal-bg.open,
#category-modal.open {
  display: block;
  visibility: visible;
}
.modal-article,
.modal-article-date {
  display: block;
  color: var(--white-2);
}
.modal-article {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}
.modal-article-date {
  font-size: 0.8rem;
}
.modal-article:hover {
  background: var(--gray-4);
}

hr {
  border-top: 1px solid var(--white-2) !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 1.75rem !important;
}

.w-50 {
  width: 50%
}

/* Interactive Map Styles */
.map-marker {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 5px black;
}

.map-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none; /* So the tooltip doesn't interfere with mouse events on the map */
  z-index: 100;
}
